@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,500&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: cursive;
    letter-spacing: 0.1px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
:root {
    --bgheader: #277dac45;
    --mycolor: #277dac;
    --primary: #000;
    --secondary: #18181b;
    --border: rgba(63, 63, 70, 0.4);
    --title: rgba(244, 244, 255, 0.9);
    --subtitle: rgb(156, 156, 165);
    --bgHeader: rgb(37, 37, 41);
    --blue: rgb(93, 188, 252);
    --after-colorbackground: rgba(152, 120, 80, 0.3);
    --afterbackground: linear-gradient(to right,var(--mycolor),var(--after-colorbackground)) 
}

.light {
        --bgheader:#c14b4b84; 

    --mycolor: #E78895/* rgb(45, 212, 191) *//* rgb(152, 120, 80) */;
    --primary: #fff;
    --secondary: white;
     --border: rgba(202, 202, 202, 0.518);
    --title: rgb(39, 39, 42);
    --subtitle: rgb(82, 82, 91);
    --bgHeader: rgb(253, 253, 253);
    --blue: rgb(0, 149, 246);
    --color-afterbackground:rgba(45, 212, 191, 0.3);
        --afterbackground: linear-gradient(to right, var(--mycolor),var(--color-afterbackground) ) 

}


 .title-section {
position: relative;
margin-bottom: 5rem;
width: 20%;
color: var(--mycolor);
}
 .title-section::after {
content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    transform: translateY(-2px);
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: var(--afterbackground);
}
 .title-section::before{
content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--mycolor);
}

body{
    background-color: var(--primary);
    color: #fff;
    
}




.container {
border: 1px solid var(--border);
width: 85%;
margin-left: auto;
margin-right: auto;
background-color: var(--secondary);
padding: 0 3rem;
position: relative;
}
.divider {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    position: relative;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
}
.border {
    border: 1px solid red;
}
button:hover{
    cursor: pointer;
}
button:active {
    scale: 0.85;
}

@media (max-width: 760px) {
    .container {
        width: 98%;
        padding: 0 1rem;
    }
}
@media (max-width: 990px) {
    .container {
        width: 95%;
        padding: 0 1.5rem;
    }
}